@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Customize CSS */
/* Base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  transition: all 0.25s;
}

.section {
  padding: 4rem 0;
  border-bottom: 1px solid #eee;
}
@media (min-width: 1200px) {
  .section {
    padding: 8.5rem 0;
  }
}
@media (min-width: 768px) {
  .section {
    padding: 6rem 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

/* UTILITY */
.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.gapc-0 > * {
  padding: 0;
}

.gapc-0 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-0 > * {
    margin-left: 0;
    margin-right: 0;
  }
}

.gapc-1 > * {
  padding: 10px;
}

.gapc-1 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-1 > * {
    margin-left: -10px;
    margin-right: 10px;
  }
}

.gapc-2 > * {
  padding: 20px;
}

.gapc-2 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-2 > * {
    margin-left: -20px;
    margin-right: 20px;
  }
}

.gapc-3 > * {
  padding: 30px;
}

.gapc-3 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-3 > * {
    margin-left: -30px;
    margin-right: 30px;
  }
}

.center-child {
  display: grid;
  place-items: center;
}

.pointer {
  cursor: pointer;
}

.over-hid {
  overflow: hidden !important;
}

.outline-0 {
  outline: 0;
}

.font-1 {
  font-size: 5rem;
}

.font-2 {
  font-size: 4rem;
}

.font-3 {
  font-size: 2.5rem;
}

.font-4 {
  font-size: 2rem;
}

.font-5 {
  font-size: 1.5rem;
}

.font-6 {
  font-size: 0.75rem;
}

.rounded {
  border-radius: 2.5px !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: 5px !important;
}

.rounded-2 {
  border-radius: 7.5px !important;
}

.rounded-3 {
  border-radius: 10px !important;
}

.rounded-4 {
  border-radius: 15px !important;
}

.rounded-5 {
  border-radius: 20px !important;
}

.rounded-6 {
  border-radius: 30px !important;
}

.rounded-pill {
  border-radius: 250px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.lh-10 {
  line-height: 1 !important;
}

.lh-11 {
  line-height: 1.1 !important;
}

.lh-12 {
  line-height: 1.2 !important;
}

.lh-13 {
  line-height: 1.3 !important;
}

.lh-14 {
  line-height: 1.4 !important;
}

.lh-15 {
  line-height: 1.5 !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.form-contact .form-group {
  display: flex;
  gap: 0.75rem;
}
.form-contact .form-group .form-input,
.form-contact .form-group .textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 3px;
  outline: none;
  border: 2px solid #eee;
}
.form-contact .form-group .form-input:focus,
.form-contact .form-group .textarea:focus {
  border-color: #86b7fe;
}
@media (max-width: 576px) {
  .form-contact .form-group {
    flex-wrap: wrap;
  }
}

.btn {
  transition: all 0.25s;
  outline: none;
}
.btn:active {
  outline: none;
  transform: translateY(1px);
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.card {
  border-radius: 10px;
}
.card .card-body {
  padding: 0.75rem;
}

.text-hover-white:hover {
  color: #fff !important;
}

.textarea {
  resize: none;
  height: 8rem;
  outline: none;
}

.flex-layout,
.navbar .container,
.navbar-fixed .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar,
.navbar-fixed {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.navbar .container,
.navbar-fixed .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.nav-logo {
  padding: 0.4rem 0;
  font-size: calc(1.15rem + 1vw);
  font-weight: 700;
}

.nav-link {
  display: inline-block;
  padding: 0.25rem 0;
  transition: all 0.25s;
  font-weight: 500;
}

.links-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  row-gap: 0.5rem;
}

.icons-nav-control {
  cursor: pointer;
  font-size: 1.8rem;
  display: none;
}

#icon-exit {
  display: none;
}

@media (max-width: 768px) {
  .icons-nav-control {
    display: block;
  }
  .navbar .container,
  .navbar-fixed .container {
    max-width: 100%;
    padding: 0.6rem 1.25rem;
  }
  .links-container {
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: 0;
    justify-content: center;
    right: 1.25rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.6s ease;
    opacity: 0;
    padding: 0 1rem;
  }
  .links-container li {
    width: 100%;
    text-align: center;
  }
  #check-nav:checked ~ .links-container {
    height: 16rem;
    opacity: 1;
  }
  #check-nav:checked ~ .icons-nav-control #icon-menu {
    display: none;
  }
  #check-nav:checked ~ .icons-nav-control #icon-exit {
    display: block;
  }
}
.text-p-primary {
  color: #17a2b8;
}

.text-grey-light {
  color: #e2e2e2;
}

.bg-p-primary {
  background-color: #17a2b8;
}

@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
}

.navbar,
.navbar-fixed {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-link-img {
  width: 5rem;
  padding: 0;
}

.img-logo {
  width: 100%;
}

.img-hero {
  max-height: 90%;
}

.slash {
  display: inline-block;
  width: 0.75rem;
  height: 4.5px;
  background-color: #cccccc;
  margin: auto 0;
  margin-left: 0.6rem;
}
@media (max-width: 992px) {
  .slash {
    display: none;
  }
}

.main-link-container {
  position: relative;
}

.nav-links-sub {
  position: absolute;
  top: 100%;
  background-color: #f1f1f1;
  left: 0;
  margin-left: 0 !important;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 100%;
}

.nav-link-sub {
  padding: 0.5rem 0.75rem;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  width: 100%;
}

.nav-link,
.nav-link-sub {
  transition: all 0.25s;
}
.nav-link:hover,
.nav-link-sub:hover {
  color: #17a2b8 !important;
  border-color: rgba(23, 162, 184, 0.6);
}

.nav-links-sub {
  display: none;
}

.main-link-container:hover .nav-links-sub {
  display: flex;
}

.fa-search {
  margin-right: -1.5rem;
  z-index: 5;
}

.input-search {
  padding-left: 2rem;
}

.header {
  background-color: #17a2b8;
  max-height: 100vh;
  overflow: hidden;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .header {
    height: 100vh;
  }
}

.container-hero {
  padding-top: 8rem;
}
@media (max-width: 768px) {
  .container-hero {
    padding-top: 12rem;
  }
}

.btn-white {
  margin-left: 1rem;
  background-color: #f1f1f1;
  transition: all 0.25s;
}
.btn-white:hover {
  background-color: #e2e2e2;
}

.card {
  padding: 0;
  overflow: hidden;
}

.real-price {
  text-decoration: line-through;
}

.img-teacher {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.nav-links {
  gap: 1rem;
  margin-left: 1rem;
}

.links-footer {
  gap: 1rem;
}
